@import url('https://fonts.googleapis.com/css?family=Syne|Alata');

:root {
  --blanco: #F4F4F8;
  --negro: #333;
  --gris-claro: #e0e0e0;
  --gris-oscuro: #999;
  --verde-hacker: #20c20e;
  --fuente-titulo: 'Alata';
  --fuente-texto: 'Syne';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0 auto;
}

header {
  padding: 15px;
  border-radius: 25px 25px 0px 0px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  color: var(--negro);
}

.dark-mode-btn {
  background: var(--negro);
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 25px;
}

.modo-oscuro {
  background: #333 !important;
  color: var(--verde-hacker) !important;
}

.modo-oscuro1 {
  background: var(--verde-hacker) !important;
  color: #333 !important;
}

.titulo h1 {
  text-align: center;
  font-size: .8em;
  font-family: var(--fuente-titulo);
}

html {
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.container {
  width: 300px;
  height: 500px;
  background: var(--blanco);
  border-radius: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: var(--fuente-texto);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.alerta {
  text-align: center;
}

.resultParas {
  padding: 10px;
  font-size: .8em;
}

.resultParas p {
  font-weight: bold;
}

.resultFlex {
  display: flex;
  justify-content: space-around;
}

#subt {
  background-color: #2af598;
  padding: 10px;
  border: none;
  cursor: pointer;
}

form {
  border-style: none;
  text-align: center;
  display: flex;
  padding: 20px;
  width: 100%;
  position: absolute;
}

form input:nth-child(1){
  width: 100%;
  text-align: center;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.centrar {
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.lowOrHi {
  font-size: 1em;
  margin-top: 20px;
}

#newGame {
  text-align: center;
  cursor: pointer;
  margin-top: 70px;
  font-size: 2em;
}

.guesses {
  font-family: var(--fuente-titulo);
}

.lastResult {
  font-family: var(--fuente-titulo);
}


#wrapper {
  
}

.bar-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bar-icons div {
  cursor: pointer;
}

.bar-icons i.active{
  color: var(--negro);
}

.bar-icons i {
  color: var(--gris-oscuro);
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
}